<settings>  
  <servers>
    <server>
      <id>Github</id>
      <username>kharchessk</username>
        <password>kharcheSSK@5937</password>
    </server>
  </servers>
  
<!--     <proxies>
   <proxy>
      <id>example-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.github.com</host>
      <port>8082</port>
      <username>jenkins</username>
      <password>jenkins123</password>
      <nonProxyHosts>www.google.com|*.example.com</nonProxyHosts>
    </proxy>
  </proxies> -->
  
  
  
  
</settings>